
/* contact */

.contact {
    width: 90vw;
    height: 80vh;
    position: relative;
    color: white;
    margin: 0 auto; /* Center the contact section */
}

.bg {
    width: 90vw;
    height: 60vh;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.contacth1 {
    font-size: 8vw; /* Responsive font size */
    position: relative;
    text-align: center;
    margin-top: 5vh; /* Adjust top margin */
}

.icons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh; /* Adjust top margin */
}

.iconsimg {
    margin: 2vw;
    padding: 1vw;
    width: 5vw; /* Adjust icon size */
    height: 5vh;
}

.iconsimg:hover{
    background-color: rgb(214, 181, 168);
}
.footer{
    padding: 7px;
    color: black;
    background-color: white;
    position: relative;
    bottom: 10vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
